 ID_ICON	     = 100

 SECTION '.rsrc' RESOURCE DATA READABLE

 directory    RT_ICON,icons,RT_GROUP_ICON,group_icons
 resource     icons,100,LANG_NEUTRAL,icon_data
 resource     group_icons,100,LANG_NEUTRAL,icon
 icon         icon,icon_data,'r4asm/r3ico.ico'

